
section{
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 80%;
}

.grid-container{
	display: grid;	
	width: 50%;
	grid-template-columns: 200px 200px 200px;
	grid-template-rows:  auto auto auto ;
	border: 1px solid red;
	height: auto;
	padding: 20px;
	justify-content: center;
}


.grid-item{
	color:blue;
	border: 1px solid black;
	margin: 15px;
    text-align: center;
    height: 150px;
    border-radius: 50%;
    align-self: center;
   
}

h1{
	text-align: center;
}

#win {
	width: 50%;
	height: 500px;
	background: gold;
	text-align: center;
}